<div class="tool-panel">
  <div class="tool-grid">
    @for (tool of tools; track tool.id) {
      <button class="tool-btn"
              [class.active]="activeTool === tool.id"
              [matTooltip]="tool.label | translate"
              matTooltipPosition="below"
              (click)="toggleTool(tool.id)">
        <div class="tool-icon-wrapper">
          <mat-icon>{{ tool.icon }}</mat-icon>
        </div>
        <span class="tool-label">{{ tool.label | translate }}</span>
      </button>
    }
  </div>

  @if (activeTool) {
    <div class="tool-content animate-in">
      <div class="tool-content-header">
        <h4>{{ getActiveToolLabel() | translate }}</h4>
        <button mat-icon-button class="tool-close" (click)="toggleTool(activeTool)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="tool-content-body">
        @switch (activeTool) {
          @case ('drawing') { <app-drawing-tool /> }
          @case ('measure') { <app-measure-tool /> }
          @case ('routing') { <app-routing-tool /> }
          @case ('export') { <app-export-tool /> }
          @case ('print') { <app-print-tool /> }
          @case ('comment') { <app-comment-tool /> }
          @case ('altimetry') { <app-altimetry-tool /> }
          @case ('mapillary') { <app-mapillary-tool /> }
          @case ('compare') { <app-compare-tool /> }
          @case ('statistics') { <app-statistics-tool /> }
          @case ('spatial-analysis') { <app-spatial-analysis-tool /> }
        }
      </div>
    </div>
  }
</div>
