<div class="geosignets">
  <h4>{{ 'geosignets.title' | translate }}</h4>

  <div class="save-form">
    <mat-form-field appearance="outline" class="name-field">
      <mat-label>{{ 'geosignets.name' | translate }}</mat-label>
      <input matInput [(ngModel)]="bookmarkName" (keyup.enter)="saveCurrentView()" />
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="saveCurrentView()" [disabled]="!bookmarkName.trim()">
      <mat-icon>bookmark_add</mat-icon>
      {{ 'geosignets.save' | translate }}
    </button>
  </div>

  @if (bookmarks().length === 0) {
    <p class="no-bookmarks">{{ 'geosignets.noBookmarks' | translate }}</p>
  } @else {
    <mat-list class="bookmark-list">
      @for (bm of bookmarks(); track bm.id) {
        <mat-list-item class="bookmark-item">
          <div class="bookmark-content">
            <span class="bookmark-name" (click)="flyTo(bm)" [matTooltip]="'geosignets.flyTo' | translate">
              {{ bm.name }}
            </span>
            <span class="bookmark-coords">
              {{ bm.center[0] | number:'1.2-2' }}, {{ bm.center[1] | number:'1.2-2' }} (z{{ bm.zoom | number:'1.0-0' }})
            </span>
          </div>
          <button mat-icon-button color="warn" (click)="delete(bm.id)" [matTooltip]="'geosignets.delete' | translate">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      }
    </mat-list>
  }
</div>
