<div class="page-header">
  <h2 class="page-title">{{ 'admin.nav.instances' | translate }}</h2>
  @if (isSuperAdmin) {
    <div class="header-actions">
      <button mat-stroked-button (click)="openTemplateDialog()">
        <mat-icon>dashboard_customize</mat-icon>
        {{ 'admin.instances.createFromTemplate' | translate }}
      </button>
      <button mat-flat-button color="primary" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
        {{ 'admin.instances.create' | translate }}
      </button>
    </div>
  }
</div>

<div class="filters glass">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>{{ 'admin.common.search' | translate }}</mat-label>
    <input matInput [(ngModel)]="searchTerm" (keyup.enter)="onFilterChange()" />
    <button
      matSuffix
      mat-icon-button
      [attr.aria-label]="'admin.common.search' | translate"
      (click)="onFilterChange()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<app-admin-data-table
  [columns]="columns"
  [rows]="instances()"
  [loading]="loading()"
  [error]="loadError()"
  [total]="total()"
  [pageIndex]="pageIndex()"
  [pageSize]="pageSize()"
  [hasActions]="true"
  (sortChange)="onSortChange($event)"
  (pageChange)="onPageChange($event)"
>
  <ng-template #actions let-instance>
    <div class="row-actions">
      <button
        mat-icon-button
        (click)="manageUsers(instance)"
        [matTooltip]="'admin.instances.usersTitle' | translate"
      >
        <mat-icon>group</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="openEditDialog(instance)"
        [matTooltip]="'common.save' | translate"
      >
        <mat-icon>edit</mat-icon>
      </button>
      @if (isSuperAdmin) {
        <button
          mat-icon-button
          (click)="confirmDelete(instance)"
          [matTooltip]="'common.delete' | translate"
        >
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
  </ng-template>
</app-admin-data-table>
