<div class="routing-tool">
  <div class="routing-info-note">
    <h4><mat-icon>info</mat-icon> {{ 'tools.routing.infoTitle' | translate }}</h4>
    <ul>
      <li>{{ 'tools.routing.infoStep1' | translate }}</li>
      <li>{{ 'tools.routing.infoStep2' | translate }}</li>
      <li>{{ 'tools.routing.infoStep3' | translate }}</li>
    </ul>
  </div>

  <div class="point-input">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'tools.routing.start' | translate }}</mat-label>
      <input matInput [(ngModel)]="startText" [placeholder]="'tools.routing.clickMap' | translate" readonly>
      <button matSuffix mat-icon-button (click)="pickOnMap('start')" [matTooltip]="'tools.routing.clickMap' | translate">
        <mat-icon>my_location</mat-icon>
      </button>
    </mat-form-field>
  </div>

  @for (wp of waypoints; track $index) {
    <div class="point-input waypoint-input">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'tools.routing.waypoint' | translate }} {{ $index + 1 }}</mat-label>
        <input matInput [ngModel]="wp.text" [placeholder]="'tools.routing.clickMap' | translate" readonly>
        <button matSuffix mat-icon-button (click)="pickOnMap($index)">
          <mat-icon>my_location</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button (click)="removeWaypoint($index)" class="remove-wp">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </div>
  }

  <button mat-stroked-button (click)="addWaypoint()" class="add-waypoint">
    <mat-icon>add</mat-icon> {{ 'tools.routing.addWaypoint' | translate }}
  </button>

  <div class="point-input">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'tools.routing.end' | translate }}</mat-label>
      <input matInput [(ngModel)]="endText" [placeholder]="'tools.routing.clickMap' | translate" readonly>
      <button matSuffix mat-icon-button (click)="pickOnMap('end')">
        <mat-icon>my_location</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'tools.routing.profile' | translate }}</mat-label>
    <mat-select [(ngModel)]="profile">
      @for (p of profiles; track p.value) {
        <mat-option [value]="p.value">
          <mat-icon>{{ p.icon }}</mat-icon> {{ p.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="actions">
    <button mat-flat-button
            color="primary"
            [disabled]="!startCoord || !endCoord || loading"
            (click)="calculateRoute()">
      <mat-icon>directions</mat-icon> {{ 'tools.routing.calculate' | translate }}
    </button>
    <button mat-stroked-button (click)="clearRoute()">
      <mat-icon>clear</mat-icon> {{ 'tools.routing.clear' | translate }}
    </button>
  </div>

  @if (loading) {
    <app-loading-spinner [message]="'common.loading' | translate" [diameter]="30" />
  }

  @if (routeResult) {
    <mat-divider></mat-divider>
    <div class="route-result">
      <div class="result-row">
        <mat-icon>straighten</mat-icon>
        <span>{{ 'tools.routing.distance' | translate }}: {{ formatDistance(routeResult.distance) }}</span>
      </div>
      <div class="result-row">
        <mat-icon>schedule</mat-icon>
        <span>{{ 'tools.routing.duration' | translate }}: {{ formatDuration(routeResult.duration) }}</span>
      </div>
    </div>
  }
</div>
