.full-width {
  width: 100%;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 420px;
}

.row {
  display: flex;
  align-items: center;
  gap: 16px;

  mat-form-field {
    flex: 1;
  }
}
