<div class="breadcrumb">
  <button mat-button (click)="backToGroups()" [class.active]="level() === 'groups'">
    {{ 'admin.catalog.groupsTab' | translate }}
  </button>
  @if (currentGroup(); as g) {
    <mat-icon>chevron_right</mat-icon>
    <button mat-button (click)="backToSubGroups()" [class.active]="level() === 'subgroups'">
      {{ g.name }}
    </button>
  }
  @if (currentSubGroup(); as sg) {
    <mat-icon>chevron_right</mat-icon>
    <span class="crumb-current">{{ sg.name }}</span>
  }
</div>

@if (level() === 'groups') {
  <div class="toolbar">
    <button mat-flat-button color="primary" (click)="openCreateGroupDialog()">
      <mat-icon>add</mat-icon>
      {{ 'admin.catalog.createGroupTitle' | translate }}
    </button>
  </div>
  <app-admin-data-table
    [columns]="groupColumns"
    [rows]="groups()"
    [loading]="loading()"
    [total]="groups().length"
    [pageSize]="100"
    [hasActions]="true"
  >
    <ng-template #actions let-group>
      <div class="row-actions">
        <button
          mat-icon-button
          (click)="moveGroup(group, -1)"
          [matTooltip]="'admin.catalog.moveUp' | translate"
        >
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="moveGroup(group, 1)"
          [matTooltip]="'admin.catalog.moveDown' | translate"
        >
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="openGroup(group)"
          [matTooltip]="'admin.catalog.open' | translate"
        >
          <mat-icon>folder_open</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="openEditGroupDialog(group)"
          [matTooltip]="'common.save' | translate"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="confirmDeleteGroup(group)"
          [matTooltip]="'common.delete' | translate"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-template>
  </app-admin-data-table>
}

@if (level() === 'subgroups') {
  <div class="toolbar">
    <button mat-flat-button color="primary" (click)="openCreateSubGroupDialog()">
      <mat-icon>add</mat-icon>
      {{ 'admin.catalog.createSubGroupTitle' | translate }}
    </button>
  </div>
  <app-admin-data-table
    [columns]="subGroupColumns"
    [rows]="subGroups()"
    [loading]="loading()"
    [total]="subGroups().length"
    [pageSize]="100"
    [hasActions]="true"
  >
    <ng-template #actions let-subGroup>
      <div class="row-actions">
        <button
          mat-icon-button
          (click)="openSubGroup(subGroup)"
          [matTooltip]="'admin.catalog.open' | translate"
        >
          <mat-icon>folder_open</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="openEditSubGroupDialog(subGroup)"
          [matTooltip]="'common.save' | translate"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="confirmDeleteSubGroup(subGroup)"
          [matTooltip]="'common.delete' | translate"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-template>
  </app-admin-data-table>
}

@if (level() === 'layers') {
  <div class="toolbar">
    <button mat-flat-button color="primary" (click)="openCreateLayerDialog()">
      <mat-icon>add</mat-icon>
      {{ 'admin.catalog.createLayerTitle' | translate }}
    </button>
  </div>
  <app-admin-data-table
    [columns]="layerColumns"
    [rows]="layers()"
    [loading]="loading()"
    [total]="layers().length"
    [pageSize]="100"
    [hasActions]="true"
  >
    <ng-template #actions let-layer>
      <div class="row-actions">
        <button
          mat-icon-button
          (click)="openLayer(layer)"
          [matTooltip]="'admin.catalog.open' | translate"
        >
          <mat-icon>tune</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="confirmDeleteLayer(layer, $event)"
          [matTooltip]="'common.delete' | translate"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-template>
  </app-admin-data-table>
}
